# Leave field empty to use defaults

# Whether to debug module lookups.
# - Logs successful lookups.
# - Logs failed lookups with stack traces.
# - Logs partial matches (matches exportless, but not with-exports).
# Default: true in development, false in production
Retribution_FLAG_DEBUG_MODULE_LOOKUPS=

# Whether to debug module waits.
# - Logs when a module is waited for.
# - Logs when a module is found.
# Default: true in development, false in production
Retribution_FLAG_DEBUG_MODULE_WAITS=

# Whether to debug lazy values.
# **This flag may break a lot of things depending on initialization timing. Use with caution.**
# - Immediately calls the signal to initialize proxified values.
# - Immediately calls the loader to initialize lazy object properties.
# - Warns if the values are nullish.
# Default: false
Retribution_FLAG_DEBUG_LAZY_VALUES=

# Whether to log promise rejections to the console.
# Default: true in development, false in production
Retribution_FLAG_LOG_PROMISE_REJECTIONS=

# URLs

Retribution_DISCORD_SERVER_URL=https://discord.com/invite/GNrNbGPhZv
Retribution_SOURCE_REPOSITORY_URL=https://github.com/Retribution-Mod/retribution-bundle-next
Retribution_LICENSE_URL=https://raw.githubusercontent.com/Retribution-Mod/retribution-bundle-next/main/LICENSE

# Optional URLs

Retribution_DEFAULT_PLUGIN_REPOSITORY_URL=
Retribution_DONATE_URL=
